
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

@import url(https://fonts.googleapis.com/css?family=Poppins:700,300);

:root {
    --body-color: #575757;
    --background-color: rgb(55, 55, 55);
}

body {
    background-color: var(--body-color);
}

.content {
    /*position: absolute;*/
    /*top: 9.2em;*/
    /*left: -10em;*/
    /*height: 6em;*/
    /*width: 26em;*/
    background: #fff;
    /*margin-left: -0.5em;*/
    color: #1A2238;
    display: none;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    z-index: 5;
    box-shadow: #0f1923 0 0 5px;
    max-width: fit-content;
    font-family: "Poppins";
    border-radius: 5%;
    margin: 1.5em;
    padding: 1.5em;
}

.content .city {
    font-size: 1.5em;
    margin: 0.5em;
}

.content .box-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
}

.content .box-container span {
    margin: 0.2em 0;
}

.content .week-preview {
    border-spacing: 0.2em 0.2em;
}

.content .week-preview tr {
    text-align: right;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.temp {
    background-color: #ffb400;
}

.temp-max {
    background-color: #ff5c00;
}

.temp-min {
    background-color: #00d4ff;
}

.feels-like {
    background-color: #fff200;
}

.wind {
    background-color: #adf5e2;
}

.humidity {
    background-color: #009dff;
}

.weather {
    background-color: #00bcd4;
}

.coord {
    background-color: #00d81d;
}





.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row-reverse;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

#city {
    background-color: var(--background-color);
    color: white;
    float: right;
    padding: 6px 10px;
    width: 80px;
    border: none;
    margin-top: 1px;
    margin-right: 8px;
    font-family: "Poppins";
    font-size: 1em;
    font-weight: bold;
    border-bottom: white solid 2px;
    transition: 0.3s;
}

#city::placeholder {
    color: white;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
}

#city:focus {
    width: 200px;
    font-family: "Poppins";
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    border-bottom: white solid 2px;
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: white;
    text-decoration: none !important;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

.shake {
    animation: headShake 0.5s linear alternate;
}