@import url(https://fonts.googleapis.com/css?family=Poppins:700,300);


html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.background {
    width: 100%;
    height: 100%;
    background: url("https://static.vecteezy.com/ti/vecteur-libre/p1/3810467-casino-publicite-neon-banniere-conception-avec-cartes-a-jouer-et-casino-chips-sur-fond-violet-vectoriel.jpg") no-repeat center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.doors {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5ex;
    border-image: linear-gradient(to bottom, goldenrod, gold, goldenrod) 1;
    border-width: 10px;
    border-style: solid;
    background: url("https://media.istockphoto.com/vectors/poker-table-background-in-green-color-vector-id1206505233?k=20&m=1206505233&s=612x612&w=0&h=QBYw3shQkcZG2g1qG8udx8nrUsqnPZNooSaLNIs5elo=");
    background-size: cover;
}

.slots {
    display: flex;
    flex-direction: row;
    border-radius: 0.5ex;
    margin: 2em;

}

.door {
    background: #fafafa;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4) inset;
    border-image: linear-gradient(to bottom, goldenrod, gold) 1;
    border-width: 10px;
    border-style: solid;
    width: 150px;
    height: 225px;
    overflow: hidden;
    margin: 1ch;
    text-align: center;
    font-size: 44px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.boxes {
    transition: transform 1s ease-in-out;
    z-index: 1;
    filter: drop-shadow(0 0 3px black);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fafafa;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 2rem 0;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0.1em 0.2rem 0 0.2rem;
}

.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


.spinner{
    margin:.5em;
    font-size:1.2em;
    color: white;
    position:relative;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:5em;
    height:5em;
    background:#555;
    border-radius:50%;
    border:.5em dashed white;
    transition:all .5s ease;
    backface-visibility:hidden;
}

.spinner.red{
    background:#DD4631;
}

.spinner.blue{
    background:#317DDD;
}

.spinner.iso{
    transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
    box-shadow:
            -1px 1px 0px #555,
            -2px 2px 0px #555,
            -3px 3px 0px #555,
            -4px 4px 0px #555,
            -5px 5px 0px #555,
            -6px 6px 10px #555;
}

.spinner.iso:hover{
    transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg) translateZ(.5em);
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border-image: linear-gradient(to bottom, goldenrod, gold, goldenrod) 1;
    border-width: 10px;
    border-style: solid;
    background: url("https://static6.depositphotos.com/1107771/647/v/600/depositphotos_6476634-stock-illustration-red-poker-background.jpg");
    border-radius: 1ex;
    margin: 1em;
    font-family: Poppins, serif;
    width: fit-content;
    z-index: 2;
}

.content {
    display: flex;
    align-items: center;
    margin: 0.2em;
    border-radius: 10%;
    font-family: Poppins, serif;
    color: gold;
}

#coinLogo {
    width: 2em;
    height: 2em;
    margin: 0.4em;
}

.heartBeat {
    animation: heartBeat .5s ease-in-out;
}

.coins {
    margin: 0.3em;
    border-radius: 10%;
    font-family: Poppins, serif;
    color: gold;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    filter: drop-shadow(-10px -10px 75px #ff00ff);

}

.multipliers {
    background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/stage-7/bg.png');
    display: flex;
    flex-flow: column;
    padding: 20px;
    border-image: linear-gradient(to bottom, goldenrod, gold, goldenrod) 1;
    border-width: 10px;
    border-style: solid;
    margin: 20px;
    font-family: Poppins, serif;
    font-weight: bold;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fafafa;
}

.wobble {
    animation: wobble 1s;
}